body {
  background: url("./images/bg-1.png") no-repeat;
  background-color: #070709;
  color: white;
}

.title {
  color: white;
  margin-bottom: 1 rem;
}

.box {
  margin-top: 50px;
}

.panel {
  margin-top: 2em;
}

.panel-heading {
  xbackground-image: linear-gradient(to left,#38052F, #070709);
  background-color: black;
  color: white;
}

.address-box {
  padding: 3em;
}

.box .title {
  color: #333;
}

.navbar {
  background-color: black;
}

.navbar .navbar-item {
  color: white;
}

.connect-wallet span {
  color: #E10859;
}

.connect-wallet:hover {
  background-color: #e1e1e1 !important;
}

.container.main-content {
  max-width: 1000px !important;
}

.faucet-hero-body {
  margin-top: 100px;
}

.withdraw-error {
  color: red;
}

.withdraw-success {
  color: green;
}

.App {
  text-align: center;
}

html {
  background-color: #232123;
}

.App-banner {
  margin-top: 7vh;
  margin-bottom: 7vh;
  justify-content: center;
  display: flex;
  flex-direction: row;
  max-height: 10vh;
  color: white;
  backgroundcolor: white;
}

.App-header {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-logo {
  width: 10vh;
  height: auto;
  pointer-events: none;
}

.App-title {
  margin-left: 1.5vh;
  font-size: 3vh;
  font-weight: 1;
}

.App-link {
  color: #61dafb;
}

.Commands {
  /* margin-top: 10vh; */
  margin-bottom: 6vh;
  display: flex;
  flex-direction: row;
}

.Toastify__toast-container {
  width: 400px;
}

.App-footer a {
  color: #61dafb;
  text-decoration: none;
}

@media only screen and (orientation: landscape) {
  .App-footer {
    margin-top: 6vh;
    font-size: 1.2vh;
  }
}

@media only screen and (orientation: portrait) {
  .App-footer {
    margin-top: 6vw;
    font-size: 1.2vw;
  }
}
